<%= flash[:success] %>

<h1>Books</h1>

    <table>
    	<tr>

		    <th>Title</th>
		    <th>body</th>
		</tr>
		 <% @posts.each do |post| %>
			<tr>
				<td>
					<%= link_to post.title, post_path(post.id) %>
				</td>

				<td>
					<%=link_to post.body, post_path(post.id) %>
				</td>
				<td>
					<%= link_to "Show", post_path(post.id),class: "show_#{post.id}" %>
				</td>
				<td>
					<%= link_to "Edit", edit_post_path(post.id),class: "edit_#{post.id}" %>
				</td>
				<td>
				    <%= link_to "Destroy", destroy_post_path(post.id) ,class: "destroy_#{post.id}" , method: :delete, "data-confirm" => "Are You Sure" %>
				</td>
			</tr>
 		<% end %>

    </table>

<%= form_for(@post) do |f| %>


<h1>New book</h1>

<h2>Title</h2>
    <%= f.text_field :title ,class: "book_title" %>
    <h2>Body</h2>
    <%= f.text_area :body ,class: "book_body" %>

    <%= f.submit 'create Book' %>

<% end %>
